<div class="row">
    <div class="container col-6">
        <form [formGroup]="eventEditForm" (ngSubmit)="eventEditForm.valid && updateEvent()" autocomplete="off">
            <h2 class="text-center">Update event</h2>
            <hr>
            <app-text-input-events [formControl]='eventEditForm.controls["eventName"]' label='Event name'>
            </app-text-input-events>
            <app-text-input-events [formControl]='eventEditForm.controls["description"]' label='Description'>
            </app-text-input-events>
            <app-text-input-events [formControl]='eventEditForm.controls["country"]' label='Country'>
            </app-text-input-events>
            <app-text-input-events [formControl]='eventEditForm.controls["region"]' label='Region'>
            </app-text-input-events>
            <app-text-input-events [formControl]='eventEditForm.controls["city"]' label='City'>
            </app-text-input-events>
            <app-text-input-events [formControl]='eventEditForm.controls["address"]' label='Address'>
            </app-text-input-events>
            
            <h4 class="text-center mt-4 mb-3">Dates</h4>
            <div formArrayName="eventDates">
                <div *ngFor="let eventDate of eventDates.controls; let i=index" [formGroupName]="i">
                    <div class="row">
                        <div class="col text-center">
                            <app-text-input-events [formControlName]="'startDate'" label="Start date"></app-text-input-events>
                        </div>
                        <div class="col text-center">
                            <app-text-input-events [formControlName]="'endDate'" label="End date"></app-text-input-events>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-danger" (click)="removeEventDate(i)">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="text-center mb-3">
                <button type="button" class="btn btn-primary" (click)="addEventDate()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </div>

            <div class="row" *ngIf="validationErrors.length > 0">
                <ul class="text-danger">
                    <li *ngFor="let error of validationErrors">
                        {{error}}
                    </li>
                </ul>
            </div>

            <div class="text-center mb-5">
                <button class="btn btn-success me-2" type="submit"
                        [disabled]="!eventEditForm.dirty || !eventEditForm.valid">
                            Save changes
                </button>
                <button 
                    *ngIf="eventEditForm.dirty"
                    class="btn btn-secondary" 
                    type="button" 
                    (click)="resetForm()">
                        Cancel
                </button>
                <button 
                    *ngIf="!eventEditForm.dirty"
                    class="btn btn-secondary" 
                    type="button" 
                    routerLink="/events/{{eventId}}">
                        To event
                </button>
            </div>
            
        </form>

        <div class="justify-content-center text-center">
            <h4 class="mb-2">Tags</h4>
            <ng-container *ngFor="let eventTag of eventTags">
                <span 
                    class="badge bg-primary" 
                    (click)="deleteTag(eventTag.eventTagName)">
                        {{eventTag.eventTagName}}
                </span>
            </ng-container>
            <form #editTagsForm="ngForm" (ngSubmit)="addTags(tags)" class="mb-5">
                <div class="mb-3">
                    <input 
                        [(ngModel)]="tags"
                        type="text" 
                        name="tags" 
                        class="form-control"
                        placeholder="Tags, separated by comma"
                        autocomplete="off">
                </div>
                <button [disabled]="!editTagsForm.dirty" type="submit" class="btn btn-success">Add</button>
            </form>
        </div>
    </div>
</div>
