<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <app-text-input 
        [formControl]='registerForm.controls["fullName"]' 
        label='Name'>
    </app-text-input>
    <app-text-input 
        [formControl]='registerForm.controls["email"]' 
        label='Email'
        type='email'>
    </app-text-input>
    <app-text-input 
        [formControl]='registerForm.controls["username"]' 
        label='Username'>
    </app-text-input>
    <app-text-input 
        [formControl]='registerForm.controls["password"]' 
        label='Password' 
        type='password'>
    </app-text-input>
    <app-text-input 
        [formControl]='registerForm.controls["confirmPassword"]' 
        label='Confirm password' 
        type='password'>
    </app-text-input>

    <div class="row" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="text-center">
        <button class="btn btn-success me-2" type="submit" [disabled]='!registerForm.valid'>Register</button>
        <button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
    </div>

    
</form>
<p class="mt-4 text-center">
    This website is only for testing purposes. Please, do not provide any real data since there can be 
    critical security flaws, therefore there's a possibility of data leaks. The owners of this website 
    are not responsible for security of the data on this website.
</p>