<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <app-text-input 
        [formControl]='registerForm.controls["fullName"]' 
        label='Name'>
    </app-text-input>
    <app-text-input 
        [formControl]='registerForm.controls["email"]' 
        label='Email'
        type='email'>
    </app-text-input>
    <app-text-input 
        [formControl]='registerForm.controls["username"]' 
        label='Username'>
    </app-text-input>
    <app-text-input 
        [formControl]='registerForm.controls["password"]' 
        label='Password' 
        type='password'>
    </app-text-input>
    <app-text-input 
        [formControl]='registerForm.controls["confirmPassword"]' 
        label='Confirm password' 
        type='password'>
    </app-text-input>

    <div class="row" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="text-center">
        <button class="btn btn-success me-2" type="submit" [disabled]='!registerForm.valid'>Register</button>
        <button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>

<p class="mt-4 text-center">
    Данный вебсайт предназначен исключительно для тестирования, безопасность данных не гарантирована. 
    Пожалуйста, не предоставляйте никакой личной информации, используйте только вымышленные данные.
    Владелец данного вебсайта не несет ответственности за безопасность данных, которые вы 
    укажете при регистрации или во время использования данного вебсайта.
    
    <!-- This website is only for testing purposes. Please, do not provide any real data, there can be 
    critical security flaws. The owners of this website 
    are not responsible for security of the data on this website. -->
</p>