<div class="row" *ngIf="member">
    <div class="col-4"></div>
    <div class="text-center col-4">
        <h4 class="mb-3">Change email</h4>
        <form [formGroup]="editEmailForm" (ngSubmit)="editEmailForm.valid && updateEmail()" autocomplete="off" class="mb-5">
            <div class="mb-3">
                <app-text-input 
                    [formControl]='editEmailForm.controls["email"]'
                    type="email" 
                    name="email" 
                    autocomplete="off">
                </app-text-input>
            </div>
            <button [disabled]="!editEmailForm.dirty" type="submit" class="btn btn-success">Save changes</button>
        </form>
        <h4 class="mb-3">Change password</h4>
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePasswordForm.valid && changePassword()" class="mb-5">
            <div class="mb-3">
                <app-text-input
                    [formControl]='changePasswordForm.controls["oldPassword"]'
                    type="password" 
                    name="oldPassword" 
                    label='Current password'
                    autocomplete="off">
                </app-text-input>
            </div>
            <div class="mb-3">
                <app-text-input
                    [formControl]='changePasswordForm.controls["newPassword"]'
                    type="password" 
                    name="newPassword" 
                    label='New password'
                    autocomplete="off">
                </app-text-input>
            </div>
            <div class="mb-3">
                <app-text-input
                    [formControl]='changePasswordForm.controls["confirmNewPassword"]'
                    type="password" 
                    name="confirmNewPassword" 
                    label='Confirm new password'
                    autocomplete="off">
                </app-text-input>
            </div>
            <button [disabled]="!changePasswordForm.dirty || !changePasswordForm.valid" type="submit" class="btn btn-success">Save changes</button>
        </form>
    </div>
</div>
